body {
    font-family: "Rubik", sans-serif;
    background: #f9f9f9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.calculator-box {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.subject {
    background: #f8f9fa;
    padding: 15px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
}

input::placeholder {
    font-size: 12px;
}

.warning {
    color: red;
    font-size: 0.9em;
    display: block;
}

.result {
    font-weight: bold;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
}

.excellent {
    background-color: #28a745;
    color: white;
}

.very-good {
    background-color: #20c997;
    color: white;
}

.good {
    background-color: #0d6efd;
    color: white;
}

.pass {
    background-color: #fd7e14;
    color: white;
}

.fail {
    background-color: #dc3545;
    color: white;
}

footer {
    background: #000;
    color: #fff;
    text-align: center;
}
